@model FarmStore0906.Models.Fruit

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    
</head>
<body>
    <div>
        <h2>Add New Fruit:</h2>
        @using (Html.BeginForm())
        {
          
            @Html.LabelFor(m => m.FruitImagePath)@Html.TextBoxFor(m => m.FruitImagePath)<br />
            @Html.LabelFor(m => m.Name)@Html.TextBoxFor(m => m.Name)<br />
            @Html.LabelFor(m => m.Price)@Html.TextBoxFor(m => m.Price)<br />
            <input type="submit" value="Add" />
        }
    </div>
</body>
</html>
