<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://group8farmstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>group8farmstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>group8farmstore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$group8farmstore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FarmstoreEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=&quot;t4ap00sp41.database.windows.net, 1433&quot;;Initial Catalog=Farmstore;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=t4ap00sp41.database.windows.net, 1433;Initial Catalog=Farmstore;Integrated Security=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FarmStore0906.Models.FarmstoreEntities, FarmStore0906" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FarmstoreEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.FarmstoreModel.csdl|res://*/Models.FarmstoreModel.ssdl|res://*/Models.FarmstoreModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=t4ap00sp41.database.windows.net, 1433;Initial Catalog=Farmstore;Integrated Security=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>