<div style="font-family:Arial">
    <h3>Welcome to the happy farmstore!</h3>
    <p>We have various kind of fruit and vegetable available for sale. These fruit and vegetable are fresh product from our farm which is good for your health. Check out our list for the current available product.</p>
    <p>Enjoy your farmstore shopping.</p>
</div>